<div class="p-3">
  <div class="card bg-dark text-white mb-3">
    <div class="card-header">
      <h4>Bem-vindo(a) a TechFusion Solution!</h4>
    </div>
    <div class="card-body">
      <p>A TechFusion Solution é uma empresa de tecnologia com foco em soluções inovadoras para a indústria de automação e manufatura.</p>
      <p>Nossos valores:</p>
      <ul>
        <li>Inovação</li>
        <li>Sustentabilidade</li>
        <li>Resilience</li>
        <li>Satisfação do cliente</li>
      </ul>
      <h4>
        Oque somos?
      </h4>
      <ul>
        <li>
          <b>TechFusion Solutions</b> é uma empresa que desenvolve e vende software personalizado para outras empresas, focando em soluções digitais inovadoras e eficientes. Inicialmente, a empresa investiu em desenvolvimento do site, marketing digital, infraestrutura de TI e contratação de equipe, totalizando um investimento inicial significativo.
        </li>
        <li>
          Com o potencial de gerar receitas mensais de R$ 100.000, a empresa é capaz de cobrir seus custos operacionais e ainda lucrar, com um lucro mensal estimado de R$ 42.000. Após três meses, isso resultaria em um saldo positivo de aproximadamente R$ 126.000.
        </li>
        <li>
          
          Para calcular o patrimônio líquido, utilizamos ativos fictícios como caixa, equipamentos, inventário de software e contas a receber, subtraindo passivos como empréstimos e contas a pagar, resultando em um patrimônio líquido de R$ 280.000.
        </li>
        <li>
          Conclusão: <b>TechFusion Solutions</b> é uma empresa viável e lucrativa, com uma sólida base financeira e um mercado potencial significativo. Com um nome que ressoa inovação e expertise, ela está bem posicionada para crescer e se destacar no setor de tecnologia.
        </li>
      </ul>
      <h4>
        Serviços oferecidos
      </h4>
      <ul>
        <li>
          Desenvolvimento de Software Sob Medida
        </li>
        <li>
          Aplicativos Móveis
        </li>
        <li>
          Soluções em Nuvem
        </li>
        <li>
          Automação Empresarial
        </li>
        <li>
          Consultoria em TI
        </li>
      </ul>
    </div>
  </div>
</div>