<div class="container">
  <h5>
    Bem-vindo à TechFusion Solutions
  </h5>
  <p>
    Ao acessar e usar nossos serviços, você concorda com os seguintes termos e condições:
  </p>
  <h5>
    1. Aceitação dos Termos
  </h5>
  <p>
    Ao utilizar o site da TechFusion Solutions, você concorda em cumprir e estar legalmente vinculado aos termos e condições estabelecidos aqui. Se você não concordar com qualquer parte destes termos, não use nosso site ou serviços.
  </p>
  <h5>
    2. Uso do site
  </h5>
  <p>
    Você concorda em usar nosso site apenas para fins legais e de uma maneira que não infrinja os direitos de terceiros ou restrinja ou iniba o uso e aproveitamento deste site por qualquer outra pessoa.
  </p>
  <h5>
    3. Propriedade intelectual
  </h5>
  <p>
    Todo o conteúdo, incluindo textos, gráficos, logotipos, ícones, imagens, clipes de áudio, e software, é de propriedade da TechFusion Solutions ou de seus fornecedores de conteúdo e está protegido por leis de direitos autorais e marcas registradas. Você não pode usar, reproduzir, distribuir, modificar ou exibir qualquer parte do nosso conteúdo sem nossa permissão por escrito.
  </p>
  <h5>
    4. Conduta do Usuário
  </h5>
  <p>
    Você concorda em não:
    <ul>
      <li>
        Violar qualquer lei local, estadual, nacional ou internacional aplicável.
      </li>
      <li>
        Carregar ou transmitir qualquer conteúdo que seja ilegal, ofensivo, difamatório ou invasivo da privacidade de outra pessoa.
      </li>
      <li>
        Interferir ou prejudicar a segurança, ou de outra forma abusar, de nosso site ou qualquer serviço, recurso do sistema, contas, senhas, servidores ou redes conectadas ou acessíveis através do site ou sites afiliados ou vinculados.
      </li>
    </ul>
  </p>
  <h5>
    5. Limitação de Responsabilidade
  </h5>
  <p>
    Em nenhum caso a TechFusion Solutions será responsável por quaisquer danos indiretos, incidentais, especiais, consequenciais ou punitivos decorrentes de seu acesso, uso ou incapacidade de usar o site e os serviços.
  </p>
  <h5>
    6. Modificações dos Termos
  </h5>
  <p>
    Reservamo-nos o direito de modificar estes termos a qualquer momento. É sua responsabilidade revisar estes termos periodicamente para mudanças. O uso contínuo do site após a publicação de mudanças constitui aceitação dos novos termos.
  </p>
  <h5>
    7. Política de privacidade
  </h5>
  <p>
    Sua privacidade é importante para nós. Por favor, revise nossa Política de Privacidade para entender como coletamos, usamos e protegemos suas informações pessoais.
  </p>
  <h5>
    8. Contato
  </h5>
  <p>
    Se você tiver qualquer pergunta sobre estes Termos de Uso, entre em contato conosco em: <strong>joseiraildesciprianoribeiro@gmail.com</strong>
  </p>

  <h2>
    Agradecemos por escolher a TechFusion Solutions. Estamos comprometidos em fornecer serviços de alta qualidade e excelência.
  </h2>
</div>